# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ni-wakati"

# WordPress
WORDPRESS_API_URL="https://blog.ni-wakati.be/wp-json/wp/v2"

# Email (optional)
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""